[submodule "annotate"]
	path = annotate
	url = https://github.com/soedomoto/labelify-annotate
[submodule "tags"]
	path = tags
	url = https://github.com/soedomoto/labelify-tags
[submodule "web"]
	path = web
	url = https://github.com/soedomoto/labelify-web
